<%= form_for participation, url: create_participation_path(workshop_id: participation.workshop.id) do |f| %>
    <%= f.field :user_id, input: :select, params: [[['Choisissez un utilisateur', '']]+@users.collect{ |u| [u.fullname, u.id] }, {disabled: '', selected: ''}] %>

    <div class="actions">
        <%= link_to 'Retour', workshop_path(participation.workshop), class: 'button dark clear' %>
        <%= f.submit 'Ajouter', class: 'button brand' %>
    </div>
<% end %>
