<% title 'Participations' %>

<main>
    <div class="wrapper">
        <h1>Participations</h1>

        <table>
            <tbody>
                <% @participations.each do |participation| %>
                    <tr>
                        <td>
                            <%= link_to participation.user.fullname, user_path(participation.user) %>
                        </td>
                        <td class="actions">
                            <%= link_to 'Supprimer', destroy_participation_path(participation), class: 'button sensible' %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <%= render 'form', participation: @participation %>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</main>
