<%= form_for workshop, url: actions_is?(:new, :create) ? create_workshop_path : update_workshop_path(workshop) do |f| %>
    <%= f.field :name %>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
