<main>
    <div class="wrapper">
        <h1>Workshops</h1>

        <table>
            <tbody>
                <% @workshops.each do |workshop| %>
                    <tr>
                        <td>
                            <%= link_to workshop.name, workshop_path(workshop) %>
                        </td>
                        <% if current_user? is: :teacher %>
                            <td class="actions">
                                <%= link_to 'Modifier', edit_workshop_path(workshop), class: 'button dark' %>
                                <%= link_to 'Supprimer', destroy_workshop_path(workshop), class: 'button sensible' %>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
            <% if current_user? is: :teacher %>
                <tfoot>
                    <tr>
                        <td class="actions" colspan="2">
                            <%= link_to 'Nouveau Workshop', new_workshop_path, class: 'button brand' %>
                        </td>
                    </tr>
                </tfoot>
                <% end %>
        </table>
    </div>
</main>
