<% link @problem.name %>

<main>
    <div class="wrapper">
        <h1><%= @problem.name %></h1>
        <% if @answer.empty? %>
            <p class="empty">Pas de réponse fournie</p>
        <% elsif @answer.right %>
            <p class="right">Réponse correcte !</p>
        <% else %>
            <p class="wrong">Réponse incorrecte</p>
        <% end %>
        <% if @problem.image.exists? %>
            <%= image_tag @problem.image.url(:normal) %>
        <% end %>
        <p><%= @problem.content %></p>
        <%= render 'answers/form', answer: @answer %>
    </div>
</main>
