<main>
    <div class="wrapper">
        <h1><%= @problem.name %></h1>
        <% if @answer.right %>
            <p class="right">Réponse correcte !</p>
        <% end %>
        <p><%= @problem.content %></p>
        <%= render 'answers/form', answer: @answer %>
    </div>
</main>
