<% title is_current_user?(@user) ? 'Mes informations' : 'Informations de '+@user.fullname %>

<main>
	<div class="wrapper">

		<% if is_current_user?(@user) %>
			<h1>Mes informations</h1>
		<% else %>
			<h1>Informations de <%= @user.fullname %> </h1>
		<% end %>


		<%= render 'form', user: @user %>

	</div>
</main>
