<main>
	<div class="wrapper">
		<ul>
			<li><strong>Email:</strong> <%= @user.email %></li>
            <li><strong>Firstname:</strong> <%= @user.firstname %></li>
            <li><strong>Lastname:</strong> <%= @user.lastname %></li>
            <li><strong>Admin:</strong> <%= @user.admin %></li>
        </ul>
    </div>
</main>