<main>
	<div class="wrapper">
		<ul>
			<li><strong>Adresse email:</strong> <%= @user.email %></li>
            <li><strong>Prénom:</strong> <%= @user.firstname %></li>
            <li><strong>Nom de famille:</strong> <%= @user.lastname %></li>
            <li><strong>Administrateur:</strong> <%= @user.admin %></li>
        </ul>
    </div>
</main>
