<%= form_for answer, url:  update_answer_path(problem_id: answer.problem.id) do |f| %>
    <%= f.field :content %>

    <div class="actions">
        <%= f.submit 'Valider', class: 'button brand' %>
    </div>
<% end %>
