<main>
	<section class="cover">
		<div class="wrapper">
			<h1 class="logo large">Escape Work</h1>
			<p>Find your <em>own</em> key</p>
		</div>
	</section>

	<section class="introduction">
		<div class="row">
			<div class="col image"></div>
			<div class="col description">
				<p>
					Aujourd'hui en France, près de <em>100 000 jeunes</em> quittent le cursus scolaire avant d'obtenir un diplôme. Souvent considérés comme barbants, les cours traditionnels ne favorisent pas toujours <em>l'épanouissement des élèves</em>.
				</p>
			</div>
		</div>
	</section>

	<section class="presentation">
		<div class="wrapper">
			<h2>Qu'est-ce qu'un Escape Work ?</h2>
			<div class="row">
				<div class="col">
					<div class="field escape"></div>
					<h3>Résolvez les énigmes pour vous échapper</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatibus earum quam exercitationem fugiat consectetur asperiores error, hic praesentium dolorem!
					</p>
				</div>
				<div class="col">
					<div class="field problem"></div>
					<h3>Travaillez en groupe sur des problèmes</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita repudiandae ad est, molestias nemo voluptates minus ratione veritatis nisi vitae?
					</p>
				</div>
				<div class="col">
					<div class="field timer"></div>
					<h3>Mettez le temps au défi durant 1&nbsp;heure</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus esse facilis cupiditate fuga, nihil consequatur qui eum beatae adipisci eligendi.
					</p>
				</div>
			</div>
		</div>
	</section>
</main>
