<main>
	<section class="cover<%= current_user? ? ' logged-in' : '' %>">
		<div class="wrapper">
			<h1 class="logo tile large">Escape Work</h1>
			<% unless current_user? %>
				<%= link_to 'Find your own key', new_user_path, class: :button %>
			<% end %>
		</div>
	</section>

	<section class="introduction">
		<div class="row">
			<div class="col image"></div>
			<div class="col description">
				<p>
					Aujourd'hui en France, près de <em>100 000 jeunes</em> quittent le cursus scolaire avant d'obtenir un diplôme. Souvent considérés comme barbants, les cours traditionnels ne favorisent pas toujours <em>l'épanouissement des élèves</em>.
				</p>
			</div>
		</div>
	</section>

	<section class="presentation">
		<div class="wrapper">
			<h2>Qu'est-ce qu'un Escape Work ?</h2>

			<div class="row">
				<div class="col">
					<div class="field escape"></div>
					<h3>Résolvez les énigmes pour vous échapper</h3>
					<p>
						Votre classe de collège est confrontée a un problème: il faut s'échapper. Les énigmes numériques de Escape&nbsp;Work vont vous rendre la tâche difficle...
					</p>
				</div>
				<div class="col">
					<div class="field problem"></div>
					<h3>Travaillez en groupe sur des problèmes</h3>
					<p>
						Vous collaborez par petits groupes pour trouver des solutions, chacun exploite ses connaissances scolaires ou personnelles pour résoudre ce casse-tête.
					</p>
				</div>
				<div class="col">
					<div class="field timer"></div>
					<h3>Mettez le temps au défi durant 45&nbsp;min</h3>
					<p>
						Durant le jeu, les intervenants et le professeur vous laissent en autonomie mais restent disponibles. Ensuite, ils seront à votre écoute pour répondre à vos questions.
					</p>
				</div>
			</div>
		</div>
	</section>
</main>

<%= svg :edge%>
