<main>
	<section class="cover<%= current_user? ? ' logged-in' : '' %>">
		<div class="wrapper">
			<h1 class="logo large">Escape Work</h1>
			<p>Find your <em>own</em> key</p>
			<% unless current_user? %>
				<%= link_to 'S\'inscrire maintenant', new_user_path, class: :button %>
			<% end %>
		</div>
	</section>

	<section class="introduction">
		<div class="row">
			<div class="col image"></div>
			<div class="col description">
				<p>
					Aujourd'hui en France, près de <em>100 000 jeunes</em> quittent le cursus scolaire avant d'obtenir un diplôme. Souvent considérés comme barbants, les cours traditionnels ne favorisent pas toujours <em>l'épanouissement des élèves</em>.
				</p>
			</div>
		</div>
	</section>

	<section class="presentation">
		<div class="wrapper">
			<h2>Qu'est-ce qu'un Escape Work ?</h2>

			<div class="row">
				<div class="col">
					<div class="field escape"></div>
					<h3>Résolvez les énigmes pour vous échapper</h3>
				</div>
				<div class="col">
					<div class="field problem"></div>
					<h3>Travaillez en groupe sur des problèmes</h3>
				</div>
				<div class="col">
					<div class="field timer"></div>
					<h3>Mettez le temps au défi durant 1&nbsp;heure</h3>
				</div>
			</div>

			<p>Les EscapeWork sont des évènements d'une heure où des <em>groupes</em> d'élèves vont devoir faire face à un problème. Ces moments permettent d'aborder le programme scolaire en proposant une pédagogie plus <em>ludique</em> et <em>collaborative</em>.</p>
		</div>
	</section>
</main>
