body > header
	background: $brand asset-url('pattern.png') repeat center top
	height: $header-height
	z-index: 2
	position: relative
	color: $white
	.wrapper
		height: 100%
		display: flex
		align-items: center
	h2
		margin-right: 10px
	nav
		margin-left: auto
		a.button
			color: $white
			margin-left: 10px
			&:first-of-type
				margin-left: 0
