.logo
	background-position: center center
	background-size: contain
	margin: 0
	outline: none
	display: block
	font-size: 0
	color: transparent
	transition: 0.2s
	@each $name, $size in $logo-sizes
		&.#{$name}
			width: $size*$logo-ratio
			height: $size
	@each $name, $color in $logo-colors
		&.#{$name}
			background-image: asset-url('logo-'+$name+'.svg')
	&.inline
		display: inline-block
	+default($logo-default)
	&.tile
		background-image: asset-url('logo-tile.svg')
		@each $name, $size in $logo-sizes
			&.#{$name}
				width: $size*$logo-ratio
				height: $size*$logo-ratio
	&:focus
		outline: none
		transform: scale(1.1)
		transition: 0.1s
