input, select, textarea
	background: transparent
	margin: 0
	color: $dark-grey
	border: none
	box-sizing: border-box
	resize: vertical
	outline: none
	font-family: Helvetica, Arial, sans-serif
	font-size: 14px
	+prefix(appearance, none)

.field
	margin-bottom: 20px
	border: 2px solid $thin-grey
	border-radius: 8px
	display: flex
	align-items: center
	flex-wrap: wrap
	label, input, textarea, select
		padding: 15px
	label
		padding-right: 0
		flex-shrink: 0
		color: $dark-grey
	input, textarea, select
		flex-grow: 1
	.error
		width: 100%
		padding: 0 15px 15px 15px
		color: $red
		flex-shrink: 0
	&[data-focus]
		border-color: $light-grey
