@import partials/main
@import components/form

.empty, .right, .wrong
	padding: 15px
	border-radius: 100px
	text-align: center
	color: $white

.empty
	background: $light-grey
.right
	background: $green
.wrong
	background: $red

p
	margin-bottom: 30px
